<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="verifyUser.css" />
  <link rel="stylesheet" href="tailwind.min.css">                                    
    <title>Defect Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- !...............User Activation Section......... -->
    <div
      style="height: 100vh"
      class="h-full bg-gradient-to-tl from-green-400 to-indigo-900 w-full py-16 px-4"
    >
      <form
        id="userActivationForm"
        class="flex flex-col items-center justify-center"
      >
        <div
          class="bg-white shadow rounded lg:w-1/3 md:w-1/2 w-full p-10 mt-16"
        >
          <p
            tabindex="0"
            class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800"
          >
            User Activation
          </p>
          <div class="w-full flex items-center justify-between py-5">
            <hr class="w-full bg-gray-400" />
            <hr class="w-full bg-gray-400" />
          </div>
          <div>
            <label
              id="email"
              class="text-sm font-medium leading-none text-gray-800"
            >
              Enter User ID
            </label>
            <input
              aria-labelledby="text"
              type="text"
              id="empID"
              name="empID"
              class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
              required
            />
          </div>
          <div class="mt-6 w-full">
            <label
              for="pass"
              class="text-sm font-medium leading-none text-gray-800"
            >
              Enter Password
            </label>
            <div class="relative flex items-center justify-center">
              <input
                id="password"
                name="password"
                type="password"
                class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                required
              />
            </div>
          </div>
          <div
            id="error"
            style="text-align: center; color: rgb(185, 58, 58)"
          ></div>
          <div class="mt-8">
            <button
              type="button"
              onclick="validate()"
              class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full"
            >
              ACTIVATE
            </button>
          </div>
        </div>
      </form>
    </div>

    <div id="successfulActivationDivision">
      <div class="successfulActivationModalContent">
        <div
          id="successfulActivationHolder"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
          "
        >
          <p
            id="successfulActivationMessage"
            style="font-size: large; font-weight: 500"
          ></p>
          <div
            id="successfulActivationButton"
            style="display: flex; justify-content: space-evenly"
          >
            <button
              style="display: block"
              class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
              onclick="(document.getElementById('homeForm').submit())()"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <form action="/" method="get" id="homeForm"></form>

    <script>
      function validate() {
        var userActivationForm = document.getElementById('userActivationForm');
        if (!userActivationForm.checkValidity()) {
          if (userActivationForm.reportValidity) {
            userActivationForm.reportValidity();
          } else {
            alert(msg.ieErrorForm);
          }
        } else {
          activateUser();
        }
      }

      async function activateUser() {
        const userID = document.getElementById('empID').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/approveUser', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            userID,
            password,
          }),
        });

        const data = await response.json();
        console.log('response: ', data);

        const errorMsg = document.getElementById('error');
        if (data.status == 'success') {
          document.getElementById('successfulActivationMessage').innerHTML =
            'Account activated successfully';
          document.getElementById(
            'successfulActivationDivision'
          ).style.visibility = 'visible';
        } else {
          if (data.reason == 'invalid credentials') {
            errorMsg.innerHTML = 'Invalid credentials';

            setTimeout(() => {
              errorMsg.innerHTML = '';
            }, 3000);
          } else {
            errorMsg.innerHTML = 'Error activating. Try Again!';

            setTimeout(() => {
              errorMsg.innerHTML = '';
            }, 3000);
          }
        }
      }
    </script>
  </body>
</html>
