*, ::after, ::before {
  margin: 0%;
  box-sizing: border-box;
}

.forget_pass {
  margin: 1%;
  position: relative;
}

.forget_pass:hover {
  color: darkblue;
}
.title {
  font-size: 26px;
  font-weight: 600;
  color: #232121;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
    padding-top: 5%;
  }
}