* {
  margin: 0px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #222831;
  color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* !........ScrollBar Style......... */

::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50577A; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6B728E; 
}
/* !............................ */
.main {
  height: 100%;
}
/* Styling for header part which contain user_name App_Name and LOGOUT btn  */
.header {
  width: 100%;
  display: flex;
  min-height: 4.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393e46;
  color: #f0e3e3;
  position: relative;
}
#btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.admin {
  color: #00adb5;
  margin-right: 8%;
  text-align: center;
  line-height: initial;
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}
.heading {
  padding-left: 1%;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.button-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 5%;
  width: 8rem;
  font-weight: 600;
  font-size: medium;
  height: 2.5rem;
  border-radius: 5px;
  color: #eeeeee;
  border-color: rgb(91, 97, 166);
}
.button-logout:hover {
  border-right-color: rgb(45, 56, 184);
}

/* TODO ...........SIDE NAV BAR MENU................................................................ */

#navBarDivision {
  position: absolute;
  display: none;
  width: 17%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 89.9%;
  z-index: 5;
  color: #eeeeee;
  background-color: #4ca1af;
  animation-name: side_bar;
  animation-duration: 0.7s;
}
.category {
  font-size: 140%;
  font-weight: 500;
  min-height: 8vh;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  transition: background 0.25s ease;
  animation-name: show;
  animation-duration: 1s;
}
/*!.....................Animation for Nav Side Bar.................. */

@keyframes show {
  0% {
    font-size: 1%;
  }
  50% {
    font-size: 140%;
  }
}
@keyframes side_bar {
  0% {
    width: 0%;
  }
  50% {
    width: 17%;
  }
}

#ReportGenerationDiv,#AdministrationDiv,
#AdminLogDiv ,#DataEntryDiv,#UserProfileDiv,#UpdateSectionDiv,#CreateSectionDiv{
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
#DashboardDiv {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-color: #075154;
}
/* ! End of Nav Side Bar Menu */

.mainBody {
  display: flex;
  width: 100%;
  height: 84%;
  padding: 0%;
  position: relative;
  top: -20px;
  /* flex-direction: column; */
}

/* TODO..............left Section for Modes............. */

/* @import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700'; */

.leftSection {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1%;
  gap: 1rem;
}
.offline , .online {
 
  transition: all 0.5s ease-in-out;
  height: 50%;
  padding: 0px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.title {
  font-weight: 600;
  position: sticky;
  width: 100%;
  background-color: #0f0c29;
  padding: 1%;
  top: 0px;
  border-radius: 4px;
  text-align: center;
}
.rwd-table {
  /* height: 100%; */
  margin: 0.25em 0;
  min-width: 270px;
  background: #34495e;
  color: #fff;
  border-radius: 0em;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: -webkit-fill-available;
  transition: all 0.5s ease-in-out;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
tr:hover {
  background-color: #4B79A1;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
 }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
 }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
 }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
 }
}
h1 {
  font-weight: normal;
  /* letter-spacing: -1px; */
  color: #fff;
}
.rwd-table {
  background: #34495e;
  color: #fff;
  border-radius: 0em;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
 }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}

/* !................< END >.................... */

.rightSection {
  display: flex;
  flex-direction: column;
  width: 68%;
  height: 100%;
  padding: 2px;
}

/*! Info Card Styles  */
.mode{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e2b842;
  font-size: large;
  font-weight: 600;
}

.defect_count{
  overflow-x: auto;
}


.mainTable {
  margin-top: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  overflow-y: auto;
}

#stats {
  background-color: #1f2937;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tableContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tableContainer {
  -ms-overflow-style: none; /* IE and Edge */
  --scrollbar-width: none; /* Firefox */
}

.dataCard {
  width: 180px;
  column-gap: 10px;
  animation: zoom-in-zoom-out 0.25s ease-out;
}

.liveIcon {
  position: sticky;
  top: 5px;
  right: 10px;
  z-index: 999;
  float: right;
}


#notificationContainer {
  position: fixed;
  top: 11%;
  right: 1%;
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: 20%;
  /* background-color: black; */
}

.notificationDiv {
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 10vh;
  opacity: 0.9;
  background-color: #eeeeee;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.notificationDiv::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.notificationContent {
  color: black;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #stats {
    background-color: #1f2937;
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liveImage {
    position: relative;
    left: 75%;
    bottom: 52%;
  }

  .dataCard img {
    width: 40px;
    column-gap: auto;
    animation: zoom-in-zoom-out 0.25s ease-out;
  }
}

@media screen and (max-width: 1279px) {
  #stats {
    background-color: #1f2937;
    height: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .liveImage {
    position: relative;
    left: 846px;
    bottom: 52%;
  }

  #navBarDivision {
    position: fixed;
    display: none;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #4ca1af;
  }
  .category {
    font-size: 130%;
    font-weight: 500;
    min-height: 7vh;
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  @keyframes show {
    0% {
      font-size: 1%;
    }
    50% {
      font-size: 130%;
    }
  }
  @keyframes side_bar {
    0% {
      width: 0%;
    }
    50% {
      width: 30%;
    }
  }
}

@media screen and (max-width: 955px) {
  .liveImage {
    position: relative;
    left: 752px;
    bottom: 52%;
  }
  .leftSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    margin-top: 2%;
  }
  .online , .offline {
    width: 50%;
    padding: 1%;
    height: 100%
  }

  .mainBody {
    display: flex;
    flex-direction: column;
    height: auto;
    /* flex-direction: column; */
  }
  .rightSection {
    width: 100%;
  }
  .mainTable {
    margin-top: 0%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
}

@media screen and (max-width: 820px) {
  .liveImage {
    position: relative;
    left: 698px;
    bottom: 52%;
  }
  .mainBody {
    display: flex;
    width: 100%;
    height: auto;
    padding:1%;
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .admin {
    margin-right: 5%;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
  }
  #navBarDivision {
    display: none;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #4ca1af;
    animation-name: side_bar;
    animation-duration: 0.7s;
  }
  .category {
    font-size: 120%;
    font-weight: 500;
    min-height: 7vh;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    transition: background 0.25s ease;
    animation-name: show;
    animation-duration: 1s;
  }
  /* !........................Animation Style for Side Menu Bar.................... */

  @keyframes show {
    0% {
      font-size: 1%;
    }
    50% {
      font-size: 120%;
    }
  }
  @keyframes side_bar {
    0% {
      width: 0%;
    }
    50% {
      width: 35%;
    }
  }
}

@media screen and (max-width: 740px) {
  .liveImage {
    position: relative;
    left: 698px;
    display: none;
    bottom: 52%;
  }
}

@media screen and (max-width: 639px) {
  #stats {
    background-color: #1f2937;
    height: 388px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .liveImage {
    display: none;
  }
  .leftSection {
    flex-direction: column;
  }
  .online, .offline {
    width: 90%;
    position: relative;
    left: 5%;
    margin: 0%;
  }
  #notificationContainer {
    width: 50%;
    /* background-color: black; */
  }
}

@media screen and (max-width: 550px) {
  #stats {
    background-color: #1f2937;
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liveImage {
    display: none;
  }
  .liveIcon {
    position: sticky;
    right: 5px;
    top: 5px;
    z-index: 999;
    float: right;
}

  .header {
    width: 100%;
    display: flex;
    min-height: 4.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #393e46;
    color: #f0e3e3;
    position: relative;
  }

  .heading {
    padding-left: 1%;
    font-weight: 700;
    font-size: clamp(20px, 0.8vw, 1.5rem);
    /* width: 26px; */
  }

  #btn {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    flex-direction: column;
    line-height: 28px;
    right: 2%;
  }
  .admin {
    margin-right: 0%;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }

  .button-logout {
    background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
  #navBarDivision {
    display: none;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4ca1af;
  }
  .category {
    font-size: 120%;
    font-weight: 500;
    min-height: 7vh;
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  .dataCard {
    width: 150px;
    column-gap: 10px;
    animation: zoom-in-zoom-out 0.25s ease-out;
  }
  .leftSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-top: 1%;
    padding: 0%;
  }
  /* !........................Animation Style for Side Menu Bar.................... */

  @keyframes show {
    0% {
      font-size: 1%;
    }
    50% {
      font-size: 120%;
    }
  }
  @keyframes side_bar {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
  }
}
