/* !CSS for REsponsive Design */
@media screen and (max-height: 1280px) {
    .update_subContainer {
      min-height: 14vh;
    }
  }
  
  @media screen and (max-height: 1000px) {
    .update_subContainer {
      min-height: 14vh;
    }
  }
  
  @media screen and (max-height: 680px) {
    .update_subContainer {
      min-height: 22vh;
    }
  }
  
  @media screen and (max-width: 1281px) {
    .save_reset_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      margin-left: 5%;
    }
    .zones-title-name {
      font-size: clamp(1.3rem, 2.2vw, 2rem);
      color: #eeeeee;
      position: relative;
    }
    .save-reset-content {
      font-size: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      gap: 1%;
    }
    .reset-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    .save-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    #zone-division1,
    #zone-division2,
    #zone-division3,
    #zone-division4,
    #zone-division5 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      /* margin-top: 5%; */
      /* margin-left: 12%; */
      width: 900px;
      height: 335px;
      position: absolute;
    }
  }
  
  /* !....................... Media Screen (1024)............................*/
  
  @media screen and (max-width: 1025px) {

    #home-icon {
      margin-left: 1%;
      min-width: 30px;
      min-height: 30px;
      margin-right: 2%;
      min-height: 3%;
    }
    .selected-message {
      margin-left: 5%;
      padding: 10px;
    }
    #go-back-icon {
      max-width: 7%;
    }
    
    .main-content {
      width: 90%;
      left: 5%;
    }
    #upload_image_container {
      width: 90%;
      left: 5%;
      min-height: 12vh;
    }
    #zone_container {
      width: 700px;
      height: 303px;
    }
    .save_reset_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      margin-left: 3%;
    }
    .zones-title-name {
      font-size: clamp(1.3rem, 2.2vw, 2rem);
      color: #eeeeee;
      position: relative;
    }
    .save-reset-content {
      font-size: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      gap: 1%;
    }
    .reset-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    .save-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    /* #zone-division1,
    #zone-division2,
    #zone-division3,
    #zone-division4,
    #zone-division5 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: auto;
      width: 700px;
      height: 303px;
      position: absolute;
    } */
  
    .Zone_Container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 285px;
      width: 100%;
      margin: 40px auto;
    }
  
    input[type='number'] {
      width: 35px !important;
      position: absolute;
      z-index: 0;
      border: 1px solid #000000;
    }
    /* !.........Remove Defect-Category Popup.......... */
    .removeDefectsModalContent {
      width: 45%;
      min-height: 24%;
      border-radius: 10px;
    }
    #removeDefectsInput {
      gap: 0.75rem;
      width: 100%;
    }
    /* !.........Update Defect-Category Popup.......... */
    .UpdateDefectsModalContent {
      width: 45%;
      min-height: 24%;
      border-radius: 10px;
    }
    #UpdateDefectsInput {
      gap: 0.75rem;
      width: 95%;
    }
    /* !.........Add Defect-Category Popup.......... */
    .addDefectsModalContent {
      width: 50%;
      min-height: 24%;
      border-radius: 10px;
    }
    #addDefectsInput {
      gap: 0.75rem;
      width: 95%;
    }
    /* !............... */
    .save_reset_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      margin-left: 3%;
    }
    .zones-title-name {
      font-size: clamp(1.3rem, 2.2vw, 2rem);
      color: #eeeeee;
      position: relative;
    }
    .save-reset-content {
      font-size: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      gap: 1%;
    }
    .reset-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    .save-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    
    /* *..........Update Zones......... */
    #drop-target {
      min-height: 40vh;
      width: 70%;
      left: 15%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .admin {
      color: #00adb5;
      margin-right: 3%;
      font-weight: 500;
      font-size: clamp(1rem, 2vw, 1.4rem);
      text-align: center;
    }
    #home-icon {
      margin-left: 2%;
      min-width: 30px;
      min-height: 30px;
      margin-right: 2%;
      min-height: 3%;
    }
    #go-back-icon {
      max-width: 7.5%;
    }
    /* ! Update Section */
    .update_subContainer {
      width: 80%;
    }
    .update_btn_container {
      padding: 5px;
      margin: 1%;
      width: 90%;
      gap: 1rem;
      left: 4%;
    }
    .update_container {
      gap: 1rem;
      width: 100%;
    }
    
    /* !..........Remove Sub Category Popup........... */
  
    .removeDefectsModalContent {
      width: 65%;
      min-height: 24%;
    }
    #removeDefectsInput {
      width: 95%;
    }
  
  /* !..........Update Sub Category Popup........... */
  
    .UpdateDefectsModalContent {
      width: 65%;
      min-height: 24%;
    }
    #UpdateDefectsInput {
      width: 95%;
    }
  
  /* !..........Add Sub Category Popup........... */
    
    .addDefectsModalContent {
      width: 70%;
      min-height: 24%;
    }
    #addDefectsInput {
      width: 95%;
    }
  /* !........................................... */
    .defect-category-content {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 80%;
      position: relative;
      left: 10%;
    }
    .defect-category {
      align-items: center;
      justify-content: center;
      font-size: 100%;
      padding: 2%;
      margin: 3%;
      margin-left: 10%;
      border-radius: 5px;
    }
    .sub-defects-category-content {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 80%;
      position: relative;
      left: 10%;
    }
  
    .sub-defect-category {
      align-items: center;
      justify-content: center;
      font-size: 100%;
      background-color: black;
      color: #eeeeee;
      padding: 3%;
      margin: 3%;
      margin-left: 10%;
      border-radius: 5px;
    }
    .save_reset_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      margin-left: 3%;
    }
    .zones-title-name {
      font-size: clamp(1.3rem, 2.2vw, 2rem);
      color: #eeeeee;
      position: relative;
    }
    .save-reset-content {
      font-size: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      gap: 1%;
    }
    .reset-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    .save-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    #zone_container {
      width: 560px;
      height: 250px;
    }
    #zone_input[type='number'] {
      width: 35px !important;
      height: 20px !important;
      position: absolute;
      z-index: 0;
      border: 1px solid #000000;
    }
    .zone-number {
      margin-top: 14px;
    }
    /* * ..........Update  Zones......... */
    #drop-target {
      min-height: 40vh;
      width: 80%;
      left: 10%;
    }
  }
  @media screen and (max-width: 640px) {
    .update_container {
      gap: 1rem;
      left: 5%;
      width: 90%;
    }
    .update_btn_container {
      display: grid;
      grid-template-columns: 1fr;
      padding: 5px;
      margin: 1%;
      gap: 0.75rem;
    }
    .update_subContainer {
      min-height: 20vh;
    }
    .main-content {
      width: 88%;
      left: 6%;
      flex-direction: column;
      gap: 1rem;
    }
    .selected-message {
      margin-left: 3%;
      padding: 5px;
      line-height: 1.4;
    }
    #btn {
      width: auto;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      line-height: 28px;
    }
    #drop-target {
      min-height: 40vh;
      width: 90%;
      left: 4.5%;
    }
  }
  @media screen and (max-width : 560px) {
    .zone-number {
      margin-top: 10px;
      font-size: 0.6rem;
      font-weight: 500;
    }
    #zone_container {
      width: 525px;
      height: 215px;
    }
  /* !..........edit/remove/update............. */
    #UpdateDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #UpdateDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #removeDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  @media screen and (max-width:540px) {
    .update_subContainer {
      width: 85%;
    }
    #addDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #zone_container {
      width: 380px;
      height: 195px;
    }
    .padding_container {
      height: 60%;
    }
    .input_padding {
      height: 85%;
      display: grid;
    }
  }
  /* *.......................Media Query for width 30rem..................... */
  @media screen and (max-width: 500px) {
    .header {
      position: sticky;
      top: 0%;
      min-width: 100%;
      display: flex;
      min-height: 4.5rem;
      flex-direction: row;
      align-items: center;
      padding: 1%;
      justify-content: space-between;
      background-color: #393e46;
      color: #f0e3e3;
    }
  
    .heading {
      padding-left: 1%;
      font-weight: 700;
      font-size: clamp(19px, 0.8vw, 1.5rem);
    }
  
   
    .admin {
      color: #00adb5;
      margin-right: 0%;
      font-weight: 500;
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      text-align: center;
    }
    .button-logout {
      background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
      width: 65px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }
    #home-icon {
      margin-left: 2%;
      min-width: 25px;
      min-height: 25px;
      margin-right: 1%;
      min-height: 3%;
    }
    .selected-message {
      text-align: center;
      line-height: 1.1;
      margin: 2%;
      padding: 5px;
      font-size: clamp(0.9rem, 1.2vw, 1.3rem);
      color: #eeeeee;
    }
    #title-name-content {
      position: relative;
      margin: 2px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    #go-back-icon {
      min-width: 25px;
      margin-left: 25%;
    }
    #title-name {
      padding: 2px;
      line-height: 1;
      font-size: clamp(16px, 1.2vw, 1.5rem);
      color: #f0e3e3;
    }
    /* ! ............Update Section........... */
  
    .update_btn_container {
      display: grid;
      grid-template-columns: 1fr;
      padding: 5px;
      margin: 2%;
      gap: 0.5rem;
    }
    .update_subContainer {
      min-height: 22vh;
    }
    /* !.............Popup for remove Defects category.............. */
    #remove_sub_category{
      width: 95%;
      border-radius: 5px;
      background-color: #eeeeee;
    }
    #removeDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #removeDefectsButton {
      display: flex;
      justify-content: space-evenly;
      gap: 5px;
    }
    .removeDefectsModalContent {
      width: 75%;
      min-height: 24%;
    }
  
  /* !.............Popup for updating Defects category.............. */
    .UpdateDefectsModalContent {
      width: 75%;
      min-height: 24%;
    }
    #update_sub_category{
      width: 90%;
      border-radius: 5px;
      background-color: #eeeeee;
    }
    #UpdateDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .inputDefect_container {
      flex-direction: column;
      gap: 0.5rem;
    }
    #UpdateDefectsButton {
      display: flex;
      justify-content: space-evenly;
      gap: 5px;
    }
  
  /* !.............Popup for Adding Defects category.............. */
   
    .addDefectsModalContent {
      width: 75%;
      min-height: 24%;
    }
    #add_sub_category{
      width: 90%;
      border-radius: 5px;
      background-color: #eeeeee;
    }
    #addDefectsInput {
      width: 95%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #addDefectsButton {
      display: flex;
      justify-content: space-evenly;
      gap: 5px;
    }
    /* !................................................ */
    .defect-category-content {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 90%;
      position: relative;
      left: 5%;
    }
    .defect-category {
      align-items: center;
      justify-content: center;
      font-size: 80%;
      font-weight: 400;
      padding: 2%;
      margin: 3%;
      margin-left: 10%;
      border-radius: 5px;
    }
    .sub-defects-category-content {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 90%;
      position: relative;
      left: 5%;
    }
  
    .sub-defect-category {
      align-items: center;
      justify-content: center;
      font-size: 80%;
      font-weight: 400;
      background-color: black;
      color: #eeeeee;
      padding: 3%;
      margin: 3%;
      margin-left: 10%;
      border-radius: 5px;
    }
    .upload_image_sub_container {
      display: flex;
      flex-direction: column;
    }
    .save_reset_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      margin-left: 5%;
    }
    .zones-title-name {
      font-size: clamp(1.3rem, 2.2vw, 2rem);
      color: #eeeeee;
      position: relative;
    }
    .save-reset-content {
      font-size: 90%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      gap: 1%;
      margin-right: 10%;
    }
    .reset-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
    .save-button {
      border: 1px solid #b6cbf5;
      border-radius: 5px;
      padding: 8px 16px 8px 16px;
    }
  
    .zone-number {
      margin-top: 10px;
      font-size: 0.6rem;
      font-weight: 500;
    }
    #zone-division1,
    #zone-division2,
    #zone-division3,
    #zone-division4,
    #zone-division5 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: auto;
      width: 320px;
      height: 155px;
      position: absolute;
      font-size: 10px;
    }
  
    #zone_input[type='number'] {
      width: 25px !important;
      height: 15px !important;
      position: absolute;
      z-index: 0;
      border: 1px solid darkslategray;
    }

/* !.................. Edit Zones Console Component............... */

    #drop-target {
      min-height: 48vh;
      left: 0px;
      width: 98%;
      margin: 1%;
    }

    .zones_update_section {
      width: 45%;
    }

    .width_zones_container {
      flex-direction: column;
      justify-content: space-evenly;
      font-weight: 500;
      height: 40%;
      margin: 1%;
    }

    .Padding_subContainer_1 {
      flex-direction: column;
    }

    .Padding_subContainer_2 {
      flex-direction: column;
    }

    .dir_btns_container {
      width: 50%;
      margin: 2px;
    }
  }
  